@import "../../global.scss";

.works{
    background-color: crimson;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    @include mobile{
        overflow: hidden;
    }

    .arrow{
        height: 60px;
        position: absolute;
        cursor: pointer;

        @include mobile{
            display: none;
        }

        &.left{
            left: 100px;
            transform: rotateY(180deg);
        }

        &.right{
            right: 100px;
        }
    }

    .slider{
        height: 350px;
        display: flex;
        position: absolute;
        left: 0;
        transition: all 1s ease-out;

        @include mobile {
            
            height: 100vh;
            flex-direction: column;
            justify-content: center;
        }

        .container{
            
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;

            @include mobile {
                margin: 5px 0;
            }

            .item{
                width: 700px;
                height: 100%;
                background-color: white;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;

                @include mobile {
                    width: 90%;
                    height: 170px;
                    margin: 5px 0;
                }
            }

            .left{
                flex: 4;
                height: 80%;
                display: flex;
                align-items: center;
                justify-content: center;

                @include mobile{
                    flex: 4;
                }

                .leftContainer{
                    margin-left: 10px;
                    width: 90%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .imgContainer{
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        background-color: coral;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        @include mobile{
                            width: 30px;
                            height: 30px;
                        }

                        img{
                            width: 20px;

                            @include mobile{
                                width: 20px;
                            }
                        }
                    }
                    h2{
                        font-size: 20px;

                        @include mobile{
                            font-size: 20px;
                            overflow: hidden;
                        }
                    }
                    p{
                        font-size: 13px;

                        @include mobile{
                            font-size: 10px;
                            overflow: hidden;
                            display: none;
                        }
                    }
                    span{
                        font-size: 12px;
                        font-weight: 600;
                        text-decoration: underline;
                        cursor: pointer;

                        @include mobile{
                            font-size: 15px;
                        }
                    }
                }
            }

            .right{
                flex: 8;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;

                img{
                    padding-left: 25px;
                    width: 450px;
                    transform: rotate(-10deg);
                }
            }
        }
    }
}