@import "../../global.scss";

.intro {
  padding-top: 20px;
  background-color: white;
  display: flex;
  overflow: hidden;

  @include mobile{
    flex-direction: column;
    align-items: center;
  }

  .left {
    flex: 0.48;
    overflow: hidden;
    position: relative;

    .imgContainer {
      width: 700px;
      height: 700px;
      background-color: crimson;
      border-radius: 50%;
      display: flex;
      padding-top: 30px;
      float: right;

      @include mobile{
        align-items: flex-start;
        justify-content: center;
      }

      img {
        height: 100%;
        width: 100%;
        max-width: 650px;
        max-height: 650px;
        object-fit: fill;

        @include mobile{
            height: 50%;
            width: 50%;
        }
      }
    }
  }
  .right {
    flex: 0.6;
    position: relative;

    .wrapper{
        width: 100%;
        height: 100%;
        padding-left: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include mobile{
          padding: 0;
          align-items: center;
        }

        h1{
            font-size: 60px;
            margin: 10px 0;

            @include mobile{
              font-size: 40px;
            }
        }
        h2{
            font-size: 35px;

            @include mobile{
              font-size: 30px;
            }
        }
        h3{
            font-size: 30px;
            span{
                color: crimson;
            }

            .ityped-cursor{
              animation: blink 1s infinite;
            }
            
            @keyframes blink {
              50%{
                opacity: 1;
              }
              100%{
                opacity: 0;
              }
            }
            
            @include mobile{
              font-size: 20px;
            }
        }
    }
    a{
        position: absolute;
        bottom: 10px;
        left: 40%;

        @include mobile{
          align-items: center;
        }

        img{
            width: 30px;
            animation: arrowBlink 2s infinite;
        }
        @keyframes arrowBlink {
            100%{
                opacity: 0;
            }            
        }
    }
  }
}
